{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}


  <main class="container mt-3">



      {{ render(controller(
          'App\\Controller\\PostComponentController::importantOne', {}
      )) }}

      <div class="your-class">
        {% for post in postsRecommended %}
        <div class="{% if loop.first %}active{% endif %}">
          <img class="d-block w-100" src="{{ asset('uploads/post/images/' ~ post.titlePicture) }}" alt="{{ post.title }}">
        </div>
        {% endfor %}
      </div>


  </main>


{% endblock %}
