@import '~bootstrap/scss/bootstrap.scss';

html {
  font-family: 微软雅黑, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;;
}

body {
  background:black;
}


.form-group
{
  position: relative;
}

.topbar {
  display:flex;
  flex-flow:column;
}

.topbar .caption
{
  display:flex;
  align-items: center;
  padding-right: 1rem;
  margin-right: auto;
}

.topbar .caption>a
{
  display: inline-block;
  margin-right: auto;
}

.topbar .caption>button
{
  margin:0  .5rem;
}

.topbar .slogan {
  color: #adadad;
  font-size: large;
  font-weight: bold;
  display: inline-block;
  margin-right: auto;
}

@media (min-width: 992px){
  .topbar
  {
    flex-flow:row;
  }
}

@media (max-width: 991.98px) {
  .topbar .caption
  {
    flex:1;
    margin-right: 0;
  }
}

/**shared**/

@media (min-width: 1200px) {
  .container {
    width: 960px;
    padding:0;
  }
}

.main-menu-wrapper.navbar-collapse
{
  flex:none;
}

.main-menu {
  background: #474747;
  margin: 0 auto 0 0;
  padding: 0;
  @include clearfix;
}

.main-menu li {
  @include float-left;
  @include list-unstyled;
}

.main-menu li.first {
  margin-left:auto;
}

.main-menu li a {
  color: #adadad;
  padding: 0  ($spacer );
  display: inline-block;
  text-decoration: none;
  line-height:68px;
  height:68px;
}
.main-menu li a:hover {

  color:#3f8ae5;
  border-bottom: 3px solid white;
}

.locale-switch
{

}

.main-menu li
{
  line-height: 68px;
  height: 68px;
}

.main-menu li.locale-switch
{
  margin-left: 10px;
}
.main-menu li.locale-switch a
{

  line-height: normal;
  height:auto;
  border-radius: 5px;
  color:#7a7a7a;
  background: #1c1c1c;
  padding:5px;
  //display: inline-block;
}

.main-menu li.locale-switch a:hover {
  background:#006dbc;
  color:#aaaaaa;
  text-decoration: none;
  border-bottom: 0;
}

.branches .branch {
  background: #232323;
  color:white;
  height:100%;
  display: flex;
}

.branches .branch  a {
  color:#a3a3a3;
  padding:2rem;
  flex:1;
  text-align: center;
}

.branches .branch  a:hover
{
  background:#006dbc;
  text-decoration: none;
  color:white;
}

.branches-header {
  background: #989898;
  padding:1rem;
  text-align: center;
}

.branches .col-md:nth-child(odd) .branch
{
  background: #181818;
}

@media (max-width: 768px) {
  .branches .empty
  {
    display: none;
  }
}

.branches .col-md
{
  align-items: stretch;
}


.bottom-menu {
  @include clearfix;
  margin:0;
  padding:0;
}

.bottom-menu li {
  float:left;
  list-style: none;
}
.bottom-menu li a {
  color: #adadad;
  display: inline-block;
  padding:0 .75rem;
  border-right:1px solid #adadad;
}

.bottom-menu li.last a {
  border:none;
}

.bottom-bar-wrapper {
  background: #333333;
  padding: 1.5rem 0;
}

.bottom-bar
{
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.bottom-bar .bottom-menu
{
  flex-grow: 1;
  margin:1rem 0;
}

.bottom-bar .qr-codes
{
  flex-basis: 300px;
}

@media (max-width: 768px)
{
  .bottom-bar
  {
    flex-direction: column;
  }

  .bottom-bar .qr-codes
  {
    flex-basis: 0;
  }
}

.bottom-bar .qr-codes .qr-code
{
  text-align: center;

}

.bottom-bar .qr-codes .qr-code .title
{
  color:#9a9a9a;
  padding:.5rem 0;
}

.registration-copyright-wrapper
{
  background: #1e1e1e;
}

.registration-copyright
{
  color: #4f4f51;
  text-align: center;
  font-size:14px;
  padding:.5rem;
}

/**homepage**/

#carouselExampleIndicators
{
  position: relative;
}

#carouselExampleIndicators>.gradient-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 48px;
  z-index: 2;
  background-image: linear-gradient(-90deg, transparent, black);

}

#carouselExampleIndicators>.gradient-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 48px;
  z-index: 2;
  background-image: linear-gradient(90deg, transparent, black);
}


.advertisement-container
{
  max-width: 1600px;
  margin: 0 auto;
}
.carousel-item img
{
  width: 100%;
}
.wall-paintings-recommended  .no-gutters,
.wall-paintings  .no-gutters
{
  margin-right: -10px;
  margin-left: -10px;
}

.wall-paintings-recommended  .no-gutters > .col, .wall-paintings-recommended  .no-gutters > [class*="col-"] ,
.wall-paintings  .no-gutters > .col, .wall-paintings  .no-gutters > [class*="col-"]
{
  padding-right: 10px;
  padding-left: 10px;
}

.wall-paintings-recommended .col-md-3, .wall-paintings-recommended .col-sm-6,
.wall-paintings .col-md-3, .wall-paintings .col-sm-6
{
  margin-bottom: 20px;
}

.wall-paintings-recommended .wall-painting,
.wall-paintings .wall-painting
{
  background:#222222;
  text-align: center;
  color: #adadad;
  margin: auto;
  font-size:12px;
  padding:0;
  height:100%;
}


.wall-paintings-recommended .wall-painting .title {
}

.wall-paintings-recommended .wall-painting .title a,
.wall-paintings .wall-painting .title a
{
  color:#a8a8a8;
  font-size:14px;
}

.wall-paintings-recommended .wall-painting .brief,
.wall-paintings .wall-painting .brief
{
  color:#6f6f6f;
  padding-bottom: 8px;
}

.wall-paintings-recommended .wall-painting .title, .wall-paintings-recommended .wall-painting .brief,
.wall-paintings .wall-painting .title, .wall-paintings .wall-painting .brief
{

  padding-left: 1rem;
  padding-right: 1rem;
}

.wall-paintings-recommended .wall-painting img, .wall-paintings .wall-painting img
{
  width: 100%;
  margin-bottom: 6px;
}


.wall-painting-categories-recommended .wall-painting-category
{
  font-size:12px;
  position: relative;
}

.wall-painting-categories-recommended .wall-painting-category a
{
  color:#a8a8a8;
}

.pl.wall-painting-categories-recommended, .pl.branches
{
  margin-bottom: 0;
}

.wall-painting-categories-recommended .col-md-3
{
  margin-bottom: 20px;
}

.wall-painting-categories-recommended  .no-gutters
{
  margin-right: -10px;
  margin-left: -10px;
}

.wall-painting-categories-recommended  .no-gutters > .col, .wall-painting-categories-recommended  .no-gutters > [class*="col-"] {
  padding-right: 10px;
  padding-left: 10px;
}

.wall-painting-categories-recommended .wall-painting-category h3 {
  position: absolute;
  top: 10px;
  font-size: 16px;
  padding: .5rem;
  opacity: .85;
  background: #212121;
  color: #adadad;
  width: 100%;
}

.wall-painting-categories-recommended .wall-painting-category
{
  text-align: center;
}

.wall-painting-categories-recommended .wall-painting-category img
{
  width: 100%;
}

.customer-recommended-header
{
  background: #989898;
  padding:1rem;
  text-align: center;
  margin-bottom: 10px;
}

.customers-recommended  .no-gutters
{
  margin-right: -5px;
  margin-left: -5px;
}

.customers-recommended  .no-gutters > .col, .customers-recommended  .no-gutters > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.pl.customers-recommended
{
  margin-bottom: 0;
}

.customers-recommended .col-md-2,.customers-recommended .col-sm-3
{
  margin-bottom: 10px;
}
.customers-recommended .hd
{
  margin-bottom: 10px;
}

.customers-recommended
{
  flex-wrap: wrap !important;
}

.customers-recommended .customer
{

  text-align: center;
}

.customers-recommended .customer.last
{
  margin-right:0px;
}

.pl {
  margin-bottom: 10px;
}

.artists-recommended {

}

.artists-recommended .artist
{
}

.artists-recommended .artist img
{
  width: 100%;
}

/**customerIndexPage**/
.customer-index-page
{
  background: #222222;
  padding:1rem 2rem;
}

.customer-index-page .customers-recommended
{
  display: flex;
}

.customer-index-page .customers-recommended .customer
{
  margin-right: 0;
  margin-bottom: 1rem;
}

.customer-index-page .customers-recommended-header
{
  padding: 4rem;
  text-align: center;
  background: #3a3a3a;
  color:#3c86e6;
  margin-bottom: 1rem;

}

/**wallPaintingShowPage**/
.slider-for
{

  margin-top: 1rem;
}

.slider-for p
{
  margin-top: 1rem;
}

.slider-for .wall-painting-photo
{
  color: #adadad;
}


.wall-painting-page {
  background: #222222;
  padding-top:2rem;
  padding-bottom: 2rem;
}

.wall-painting-show
{
  color: #adadad;
  max-width:850px;
  margin:auto;
}

.wall-painting-show h3
{

  font-size:18px;
}

.wall-painting-show hr
{
  border-top:1px solid #adadad;
}

.wall-painting-artists
{
  margin-top: 20px;
  margin-bottom: 20px;
}

.wall-painting-artists .caption-wrapper
{
  display: flex;
  align-items: center;
  background: #006dbc;
}

.wall-painting-artists .caption
{

  color: white;
  font-size:14px;
  padding:.5rem;
  text-align: center;

}

.wall-painting-tags
{
  @include clearfix;
  margin:0;
  padding:0;
}

.wall-painting-tags li {
  list-style: none;
  float:left;
  background: #656565;
  margin-right: .5rem;
  padding:.5rem;
}

.wall-painting-tags li a
{
  text-align: center;
  color: white;
}

/**wallPaintingIndexPage**/

.tags-recommended
{
  margin:0;
  padding:0;
  list-style: none;
}

.tags-recommended a
{
  display:inline-block;
  word-wrap: normal;
}

.popover{
  min-width:300px !important;
}

.navigation
{
  display: flex;
  justify-content: center;
}

.navigation>nav
{

}

.navigation .page-item .page-link
{
  margin-left:3px;
  border-radius: 5px;
}

.navigation .page-item .page-link:hover
{
  border: 1px solid #dee2e6;
}

.sidebar
{
  flex-basis: 180px;
  flex-shrink: 0;
  margin-right: 10px;
  background:#1d2124;
  display: none;
}

.main {
  margin-top: 10px;
  flex-grow: 1;
}

.page
{
  display: flex;
  align-items: stretch;
}



.sidebar.show
{
  display: block;
}

.navbar .categories
{

}

@media (max-width: 991.98px) {
  .navbar .categories
  {
    display: inline-block;
  }

  .sidebar
  {
    display:none;
  }



}



.action-bar
{
  background:#222222;
}

.wall-painting-categories-root
{

  margin:0;
  padding:1rem;
  background: #222222;
  color:#adadad;

}

.wall-painting-categories-root li
{
  list-style: none;
  font-size:16px;
}

.wall-painting-categories-root li a
{
  color:#adadad;
}

.page-link
{
  background: #111111;
  color: #adadad;
  border-color: #222222;
}

.page-item.disabled .page-link
{
  background: gray;
  border-color: #222222;
  color: #adadad;
}
.page-link:hover
{
  background: #757374;
  color: #adadad;
  border: #adadad;
}



/** contact page ***/

.contact-page
{
  background: #222222;
  max-width: 850px;
  margin: 0 auto;
  padding-top:2rem;
}

.contact-page .branches
{

}

.contact-page .branches .branch
{
  display: block;
  margin-bottom: 1rem;
  position: relative;
}

.contact-page .branches .branch a
{
  overflow: hidden;
  font-size: 0;
  width:0;
  display: inline-block;
  padding:0;
  position: absolute;
  top:-86px;
}

.contact-page .branches .branch hr
{
  background: #aaaaaa;
}
.contact-page .branches .branch h3
{
  font-size:20px;
  color: #c0c0c0;
}

.contact-page .branches .branch p
{
  color: #c0c0c0;
}

.contact-page .branches .branch img
{
  width:100%;
}

/**customer show page**/

@media (max-width: 991.98px) {

}
.customer-intro
{
  background: #222222;
  margin-bottom: 10px;
  color:#adadad;
}

.customer-intro img
{
  width: 100%;
}

.customer-intro-logo
{
  max-width:188px;
  padding:1rem;
  margin: auto;
  text-align: center;
}

.customer-intro .customer-title
{
  padding:.5rem 0;
}




/**artist show page**/
.artist-profile
{
  margin-bottom: 1rem;
}
.artist-profile .hd
{
  background: #2d2d2d;
  color:#5f5f5f;
  padding:.5rem 1rem;
}

.artist-profile .bd
{
  padding:3rem;
  background: #222222;
}

.artist-profile .nickname
{
  color:#adadad;
  font-size:18px;
}

.artist-profile .caption
{
  color :#bacbe5;
  background: #006dbc;
  width: 120px;
  line-height:120px;
  height:120px;
  text-align: center;
  font-size:18px;

}

.artist-profile .bd
{
  display: flex;
}

.artist-profile .bd .intro
{
  padding:.5rem 1rem;
  color: #888888;
}

.artist-show-page .wall-painting-list
{

}

/**artistIndexPage**/
.artist-index-page
{
  background: #222222;
}
.artist-index-page .team-header
{
  background: #989898;
  text-align: center;
  padding:1rem;
}

.artist-index-page .team-description
{
  color: #838383;
  padding: 2rem 3rem;
}


.artist-index-page .artists
{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.artist-index-page .artist-highlighted
{
  background: #373737;

}

.artist-index-page .artist-highlighted .figure-and-nickname
{
  position: relative;
}
.artist-index-page .artist-highlighted .figure-and-nickname .nickname
{
  position: absolute;
  bottom: 0;
  background: #000000;
  opacity: .7;
  width: 100%;
  color: #4086e5;
  padding:1rem;
  text-align: center;
}


.artist-index-page .artist-highlighted .position-title
{
  background: #161616;
  color: #bbbbbb;
  padding:1rem;
  text-align: center;
}

.artist-index-page .artist-highlighted .description
{
  padding: 1rem 2rem;
  color: #838383;
}

.artist-index-page .intro
{
  padding:3rem 3rem;
  color: #828282;
}

.artist-index-page .intro .content
{
  margin-top: 2rem;
}

/**employment page*/
.highlight-header {
  text-align: center;
  background: #989898;
  font-size:18px;
  padding:1rem;
  color:#222222;
}

.employment-index-page
{
  background: #222222;
}

.employment-index-page .bd
{
  padding:2rem;
}

.employment-index-page .description
{
  color:#828282;
  margin-top: 1rem;
}

.employment-index-page .resumes .resume
{
  background: #333333;
  margin-bottom: 1rem;
}

.employment-index-page .resumes .resume .title
{
  text-align: center;
  color:#048aed;
  font-size:1.5rem;
  padding:2rem 0 0 0;
}

.employment-index-page .resumes .resume .brief {
  text-align: center;
  color: #adadad;
}


.employment-index-page .resumes .resume .city {
  text-align: center;
  color: white;
  font-size:1.5rem;
  padding:2rem 0;
}


.employment-index-page .resumes .resume .content {
  color: white;
  padding:1rem 2rem;
}

.employment-index-page .resumes .resume hr
{
  border:1px solid #7f7f7f;
  margin:1rem 2rem;
}
.employment-index-page .resumes .resume .contact
{
  color:#0c83e1;
  padding:1rem 2rem;
}

/** messageShowPage**/
.page-wrapper
{
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #222222;
}

.message-show-page
{
  margin: 0 auto;
  max-width: 850px;
}

.message-show-page .title
{
  color:#a5a5a5;
}

.message-show-page>hr
{
  background:#a5a5a5;
}

/** messageIndexPage**/

.message-categories-sidebar-switch
{
  display: inline-block;
  background:#1b1e21;
  color:#aaaaaa;
  position: fixed;
  top:68px;
  left:0;
  padding:.5rem;
  display: none;
  border:0;
}


.message-categories-sidebar-switch:hover
{
  color:#aaaaaa;
}

.message-categories-sidebar
{
  flex-basis: 200px;
  min-width: 140px;
  border-right: 1px solid #333333;
  margin-right: 1rem;
  padding-right:1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 84px;
  align-self: flex-start;
}

.message-categories-sidebar ul
{
  list-style: none;
  margin:0;
  padding:0;
}

@media (max-width: 767.98px) {
  .message-categories-sidebar
  {
    display: none;
  }

  .message-categories-sidebar-switch
  {
    display: inline-block;
  }

  .message-categories-sidebar.open
  {
    display: inline-block;
  }

}

.message-index-main
{
  flex-grow: 1;
}

.message-index-page
{
  display: flex;
  margin: 0 auto;
  max-width: 850px;
  color:#a5a5a5;
  align-items: stretch;
}

.message-index-page a
{
  color:#a5a5a5;
}

.message-index-page .image
{
  float:left;
  width:120px;
}

.message-index-page .message
{
  @include clearfix;
  margin-bottom: 1rem;
}

.message .left
{
  margin-left:120px;
}


.message .right .brief
{
  color:#707070;
}


/** staticPageShow */

.static-page-show
{
  margin: 0 auto;
  max-width: 850px;
}

@media (max-width: 991.98px) {
  .raw-content
  {
  }

  .message-show-page, .static-page-show, .wall-painting-show-page, .message-index-page, .contact-page
  {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.messages-menu
{
  position: -webkit-sticky;
  position: sticky;
  top:68px;
}


.raw-content
{
  color: #adadad;

}

.raw-content img
{
  max-width: 100%;
}

.raw-content embed
{
  max-width: 100%;
}

.raw-content table
{
  width:100%;
  table-layout: fixed;
}

$slick-font-path: '~slick-carousel/slick/fonts/';
$slick-loader-path: '~slick-carousel/slick/';


@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';

.slick-prev::before, .slick-next::before
{
  color:gray;
}

body1:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  z-index: -1;
  background-image: url('../images/programming.jpg') ;
  -webkit-background-size: auto;
  background-size: auto;
}


/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}


.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
