<div class="branches-header">隐形翅膀各地团队</div>
<div class="branches row no-gutters">
    {% for branch in branches %}
        <div class="col">
            <div class="branch">
                <a href="{{ path('contact') ~ '#' ~ branch.id }}">{{ branch.title }}</a>
            </div>
        </div>
    {% endfor %}
    {% for i in 0..(8-branches|length) %}
        <div class="col">
            <div class="branch">

            </div>
        </div>
    {% endfor %}
</div>