<div class="pl branches">
    <div class="hd highlight-header">
        {{ 'base.branch_panel_title'|trans }}
    </div>
    <div class="bd row no-gutters">
        {% for branch in branches %}
            <div class="col-md col-sm-12">
                <div class="branch">
                    <a href="{{ path('contact') ~ '#branch' ~ branch.id }}">{{ branch.title }}</a>
                </div>
            </div>
        {% endfor %}
        {% for i in 0..(7-branches|length) %}
            <div class="col-md empty col-sm-12">
                <div class="branch">

                </div>
            </div>
        {% endfor %}
    </div>
</div>
