{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="branch">
            <h3>{{ branch.title }}</h3>
            <p>地址</p>
            <div class="cases">

            </div>
        </div>
    </div>
{% endblock %}